<h1>Hello I am Dustins OpenShift Demo APP!</h1>
<p>Be sure to check the github at: <a href="https://github.com/dustinpfister/openshift_demo">https://github.com/dustinpfister/openshift_demo</a></p>

<ul>
    <li><p>Visit Count: <%= displayCount %></p></li>
    <li><p>Logged IP Address: <%= ipCount %></p></li>
    <li>
        <p>OS Stats:</p> 
        <div style="background: #7a7a7a; padding:20px;">   
           <%- os_stats %>
        </div>
    </li>
    <li><p>Your IP Address is: <%= clientIP %></p></li>
    <li><p>Visits from Your IP: <%= clientVisit %></p></li>
    <li>
        <p>Your User Agent Strings:</p> 
        <div class="infodiv"> 

            <%- clientUA %>

        </div>
    </li>
</ul>